:root{
    --primary:#52b788;
    --secundary:#95d5b2;
    --letras:#081c15;
    --dark:#000;
    --ligth:#487;
    /*
    74c69d
    d8f3dc
    95d5b2
    40916c
    2d6a4f
    1b4332
    081c15
    */
}

body{
    font-family: 'Poppins', sans-serif;
}

.btn-primary{
    background-color:  var(--primary);
    border-color:  var(--primary);
}

.btn-primary:hover{
    background-color:  var(--primary);
}

.navbar{
    min-height: 85px;
}

.navbar .btn {
    padding: .625rem 1.25rem;
}

.bg-primary{
    background-color:  var(--primary) !important;
}
.text-primary{
    color: var(--primary) !important;
}
 section{
     height: 800px;
 }

.content{
    max-width: 600px;
}
.list-subject{
    position: relative;
    display: flex;
    justify-content: center;
}
.list-subject::after{
    content:'';
    border-right: 1px solid var(--dark) #081c15;
    height: 30px;
    position: absolute;
    top: 40px;
    opacity: .3;
    
}

.bg-header{
    background-color:  var(--secundary);
}

.let{
    background-color:  var(--letras);
}
@media(max-width: 992px){
    .navbar{
        position: relative !important;
    }
}